.division{
   /* border: 1px solid black; */
   width: 99vw;
   height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.division1{
   border: 1px solid black;
   width: 40%;
   height: 100%;
   background-color: black;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   /* color: rgb(198, 5, 198); */
   color: white;
}

.division2{
   border: 1px solid black;
   width: 60%;
   height: 100%;
}
.division2 img{
   height: 100%;
   width: 100%;
}
.text{
   border: 1px solid black;
   width: 99vw;
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
   color: rgb(198, 5, 198);
}
.divide{
   border: 1px solid black;
   width: 99vw;
   height: 90vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: black;
}
.divide1{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide1 img{
   width: 300px;
   height: 300px;
}

.unique:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divide2{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide2 img{
   width: 300px;
   height: 300px;
}
.unique1:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divide3{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide3 img{
   width: 300px;
   height: 300px;
}
.unique2:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides{
   border: 1px solid black;
   width: 99vw;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: black;
}
.divides1{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.unique3:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides1 img{
   width: 300px;
   height: 300px;
}
.divides2{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divides2 img{
   width: 400px;
   height: 400px;
}
.unique4:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides3{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divides3 img{
   width: 550px;
   height: 250px;
}
.unique5:hover{
   background-color: rgb(198, 5, 198) !important;
}
.about{
   border: 1px solid black;
   width: 99vw;
   height: 60vh;
   background-image: url('./purple.jpg');
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer{
   border: 1px solid black;
   width: 99vw;
   height: 60vh;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer1{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer2{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer3{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer4{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer4 img{
   margin-top: 2%;
   height: 10%;
   width: 35%;
}.division{
   /* border: 1px solid black; */
   width: 99vw;
   height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.division1{
   border: 1px solid black;
   width: 40%;
   height: 100%;
   background-color: black;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   /* color: rgb(198, 5, 198); */
   color: white;
}

.division2{
   border: 1px solid black;
   width: 60%;
   height: 100%;
}
.division2 img{
   height: 100%;
   width: 100%;
}
.text{
   border: 1px solid black;
   width: 99vw;
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
   color: rgb(198, 5, 198);
}
.divide{
   border: 1px solid black;
   width: 99vw;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: black;
}
.divide1{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide1 img{
   width: 300px;
   height: 300px;
}

.unique:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divide2{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide2 img{
   width: 300px;
   height: 300px;
}
.unique1:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divide3{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide3 img{
   width: 300px;
   height: 300px;
}
.unique2:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides{
   border: 1px solid black;
   width: 99vw;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: black;
}
.divides1{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.unique3:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides1 img{
   width: 300px;
   height: 300px;
}
.divides2{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divides2 img{
   width: 400px;
   height: 400px;
}
.unique4:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides3{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divides3 img{
   width: 550px;
   height: 250px;
}
.unique5:hover{
   background-color: rgb(198, 5, 198) !important;
}
.about{
   border: 1px solid black;
   width: 99vw;
   height: 60vh;
   background-image: url('./purple.jpg');
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer{
   border: 1px solid black;
   width: 99vw;
   height: 60vh;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer1{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer2{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer3{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer4{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer4 img{
   margin-top: 2%;
   height: 10%;
   width: 35%;
}.division{
   /* border: 1px solid black; */
   width: 99vw;
   height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.division1{
   border: 1px solid black;
   width: 40%;
   height: 100%;
   background-color: black;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   /* color: rgb(198, 5, 198); */
   color: white;
}

.division2{
   border: 1px solid black;
   width: 60%;
   height: 100%;
}
.division2 img{
   height: 100%;
   width: 100%;
}
.text{
   border: 1px solid black;
   width: 99vw;
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
   color: rgb(198, 5, 198);
}
.divide{
   border: 1px solid black;
   width: 99vw;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: black;
}
.divide1{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide1 img{
   width: 300px;
   height: 300px;
}

.unique:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divide2{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide2 img{
   width: 300px;
   height: 300px;
}
.unique1:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divide3{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide3 img{
   width: 300px;
   height: 300px;
}
.unique2:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides{
   border: 1px solid black;
   width: 99vw;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: black;
}
.divides1{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.unique3:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides1 img{
   width: 300px;
   height: 300px;
}
.divides2{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divides2 img{
   width: 400px;
   height: 400px;
}
.unique4:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides3{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divides3 img{
   width: 550px;
   height: 250px;
}
.unique5:hover{
   background-color: rgb(198, 5, 198) !important;
}
.about{
   border: 1px solid black;
   width: 99vw;
   height: 60vh;
   background-image: url('./purple.jpg');
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer{
   border: 1px solid black;
   width: 99vw;
   height: 60vh;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer1{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer2{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer3{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer4{
   border: 1px solid black;
   width: 25%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer4 img{
   margin-top: 2%;
   height: 10%;
   width: 35%;
}
/* Default styles */
.division {
   width: 99vw;
   height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.division1 {
   border: 1px solid black;
   width: 40%;
   height: 100%;
   background-color: black;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   color: white;
}
.division2 {
   border: 1px solid black;
   width: 60%;
   height: 100%;
}
.division2 img {
   height: 100%;
   width: 100%;
}
.class{
   border: 1px solid black;
   width: 99vw;
   height: 60vh;
}
.divides4{
   border: 1px solid black;
   width: 99vw;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: black;
}
.divides5{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.unique5:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides5 img{
   width: 250px;
   height: 250px;
}
.divides6{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divides6 img{
   width: 350px;
   height: 400px;
}
.unique6:hover{
   background-color: rgb(198, 5, 198) !important;
}
.divides7{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divides7 img{
   width: 400px;
   height: 250px;
}
.unique7:hover{
   background-color: rgb(198, 5, 198) !important;
}

/* media query */

@media(max-width : 1024px){
   .division{
      flex-direction: column !important;
      height: auto;
   }
   .division1, .division2{
      width: 100%;
      height: 50vh;
   }
   .division2 img{
     padding-right: 500px;
     width: 800px !important;
     height: 250px;
   }
   .divide{
      flex-direction: column;
      height: auto;
   }
   .divide1 img, .divide2 img, .divide3 img{
      height: 280px;
      width: 320px !important;
   }
   .divides{
      flex-direction: column;
      height: auto;
   }
   .divides1 img, .divides2 img, .divides3 img{
      height: 280px;
      width: 320px !important;
   }
}
@media(max-width : 768px){
   .division2 img{
      width: 600px;
      padding-left: 150px;
   }
   .divide1, .divide2, .divide3, .divides1, .divides2, .divides3{
      width: 90%;
      margin-top: 90px;
      height: auto;
   }
   .divide1 img, .divide2 img, .divide3 img, .divides1 img, .divides2 img, .divides3 img{
      height: 200px;
      width: 100%;
   }
   .divides5 img, .divides6 img, .divides7 img{
      height: 200px;
      width: 100%;
   }
   .footer h4{
      padding-left: 28px;
   }
}
@media(max-width : 480px){
   .footer{
      flex-direction: column;
      height: auto;
   }
   .footer1, .footer2, .footer3, .footer4{
      width: 100%;
      height: auto;
   }
   .footer4 img{
      width: 50%;
      height: auto;
   }
   .divides4{
      flex-direction: column;
      height: auto;
   }
   .divides6 img{
      width: 10px;
   }
   .divides5 img, .divides6 img, .divides7 img{
      height: 280px;
      width: 320px !important;
   }
}