.division{
   /* border: 1px solid black; */
   width: 99vw;
   height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.division1{
   border: 1px solid black;
   width: 40%;
   height: 100%;
   background-color: black;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   color: rgb(198, 5, 198);
}
.division2{
   border: 1px solid black;
   width: 60%;
   height: 100%;
}
.division2 img{
   height: 100%;
   width: 100%;
}
.text{
   border: 1px solid black;
   width: 99vw;
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
   color: rgb(198, 5, 198);
}
.divide{
   border: 1px solid black;
   width: 99vw;
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: black;
}
.divide1{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide1 img{
   width: 300px;
   height: 300px;
}
.divide2{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide2 img{
   width: 300px;
   height: 300px;
}
.divide3{
   border: 1px solid black;
   width: 20%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}
.divide3 img{
   width: 300px;
   height: 300px;
}