.shop{
    background-color: black;
}
.heading{
    padding-top: 10px;
    text-align: center;
    color: purple;
    font-weight: 1000px;
}
.container{
    height: 60vh;
    width: 100vw;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box{
    height: 60vh;
    width: 700px;
    border: 1px solid white;
}
.text{
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cards{
    height: 60vh;
    width: 100vw;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}
.card{
    height: 60vh;
    width: 360px;
}
.image{
    margin: 10px;
    height: 20vh;
    width: 250px;
}