.banner{
    height: 20vh;
    width: 99vw;
    background-image: url(./banner.jpg);
    background-position: center;
    color: white;
    /* border: 1px solid black; */
    text-align: center;
    padding: 30px;
}
.banner h1{
    font-size: 50px;
}
.product{
    text-align: center;
    color: rgb(128, 122, 122);
}
.cards{
    height: 60vh;
    width: 99vw;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    height: 60vh;
    width: 310px;
    /* border: 1px solid black; */
}
.image{
    height: 30vh;
    width: 250px;
    /* border: 1px solid black; */
    margin: 25px;
}
img{
    height: 100%;
    width: 100%;
}
.text{
    text-align: center;
}
.price{
    text-align: center;
    font-weight: 500;
}
.icon{
    text-align: center;
    color: rgb(245, 221, 116);
    padding-top: 8px;
}
.cart{
    text-align: center;
    padding-top: 10px;
}