.shop{
    background-color: black;
}
.product{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading{
    color: purple;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-decoration: underline;
}
.cards{
    height: 50vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    height: 40vh;
    width: 300px;
    background-color: black !important;
}
.text{
    text-align: center;
    color: white;
}
.image{
    height: 20vh;
    width: 200px;
    margin: 40px;
}
img{
    height: 100%;
    width: 100%;
}
.price{
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 20px;
}
.cart{
    height: 5vh;
    width: 360px;
    display: flex;
}
.link{
    width: 210px;
    padding-left: 15px;
    font-size: 18px;
}
.link a{
    text-decoration: none;
    color: purple;
}
.link a:hover{
    color: rgb(179, 67, 179);
}
.links{
    font-size: 18px;
}
.links a{
    text-decoration: none;
    color: white;
}
.links a:hover{
    color: rgb(204, 202, 202);
}
.banners{
    height: 60vh;
    width: 99vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.uniquecard{
    height: 40vh;
    width: 600px;
    border-radius: 10px;
    background-image: url(./clastr-cloud-gaming-5IB2fQHVvm4-unsplash.jpg);
    background-size: cover;
    background-position: 10%;
    padding: 60px;
    color: white;
}
.uniquecard p{
    font-weight: 500;
}
.uniquecards{
    height: 40vh;
    width: 600px;  
    padding: 60px;
    background-image: url(./watch.jpg);
    background-size: cover;
    background-position: 10%;
    color: white;
}
.uniquecards p{
    font-weight: 500;
}
@media(max-width : 360px){
    .cards{
        display: flex ;
        flex-direction: column;
        width: 99vw;
        height: 290vh;
    }
    .card{
        height: 90vh;
        width: 320px;
    }
    .text{
        font-size: 30px;
    }
    .image{
        height: 30vh;
        width: 200px;
        margin: 40px;
    }
    img{
        height: 100%;
        width: 100%;
    }
    .banners{
        flex-direction: column;
        height: 70vh;
    }
    .uniquecard{
        width: 350px;
        padding: 15px;
        height: 40vh;
        margin-top: 30px;
    }
    .uniquecards{
        width: 350px;
        padding: 15px;
        height: 40vh;
        margin-top: 50px;
    }
}
@media(max-width : 375px){
    .cards{
        flex-direction: column;
        width: 99vw;
        height: 290vh;
    }
    .card{
        height: 90vh;
        width: 320px;
    }
    .text{
        font-size: 30px;
    }
    .image{
        height: 30vh;
        width: 200px;
        margin: 40px;
    }
    img{
        height: 100%;
        width: 100%;
    }
    .banners{
        flex-direction: column;
        height: 70vh;
    }
    .uniquecard{
        width: 350px;
        padding: 15px;
        height: 40vh;
        margin-top: 30px;
    }
    .uniquecards{
        width: 350px;
        padding: 15px;
        height: 40vh;
        margin-top: 50px;
    }
}
@media(max-width : 768px){
    .card{
        width: 200px;
        height: 60vh;
    }
    .image{
        width: 110px;
        height: 45vh;
    }
    .text{
        padding-top: 0%;
    }
    .cart{
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width : 1366px){
    .card{
        padding-top: 10px;
    }
    .heading{
        padding-top: 90px;
    }
    .price{
        padding-top: 40px;
    }
    .product{
        font-size: 100px;
        font-weight: bold;
    }
}
